@charset "utf-8";
/* CSS Document */

@import url("fonts.css");

body{
    font-family: roboto_condensedregular;
    font-size: 12pt;
    color: #0F0F0F;
    height: 100%;
    background-color: #ebebeb;
}

.logoFont{
    font-family: 'robotoblack';
    font-size: 18pt;
    color: #000000;
}

.navbar-nav li a{
    color: #000;
    font-weight: 500;
}

#mainNav{
    /*background-color: #2bf1ca;*/
    background-color: #77D6C3;
    height: 60px;
}
.navbar-brand{
    font-family: robotoblack;
}

.homeSlide{
    height: 440px;
    margin-top: 60px;
    background-image:url(../images/homeSlide.jpg);
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    padding-top: 220px;
}

.homeSlide h1{
    font-family: roboto_condensedlight;
    font-size: 22pt;
    color: #FFF;
}

h1{
    font-family: roboto_condensedlight;
    font-size: 22pt;
    color: #0F0F0F;
}

h2{
    font-family: roboto_condensedlight;
    font-size: 18pt;
    color: #0F0F0F;
}

h3{
    font-family: roboto_condensedregular;
    font-size: 14pt;
    color: #0F0F0F;
}

.footer_01{
    background-color: #424242;
}

.footer_01_links{
    text-align: center;
    color: #FFF;
    height: 80px;
    padding-top: 25px;
}

.footer_02{
    background-color: #212121;

}

.footer_02_links{
    text-align: center;
    color: #FFF;
    min-height: 80px;
    padding-top: 25px;
}

.mainCategory{
    border: dotted 1px #E0E0E0;
    width: 100% !important;
    height: 150px;
    text-align: center;
    padding-top: 65px;
    background-image: url(../images/logoSmallGrey.png);
    background-repeat: no-repeat;
}

.mainCategory:hover{
    background-color: #FFF;
    cursor: pointer;
    background-image: url(../images/logoSmallDarkGrey.png);
}

.whyWheresert{
    background-color: #77D6C3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.whyWheresert h1{
    border-bottom: dotted 1px #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.downloadApp{
    padding-top: 50px;
}

.survey{
    border-right:solid 1px #CCC;
    padding: 15px;
    padding-right: 25px;
}

.survey p{
    font-size: 10pt;
}
/*
.text{
    color: white;
    font-size: 30px;
    font-family: monospace;
}
#form1{
    position: fixed;
    padding-top: 100px;
}
.btn{
    background-color: #2bf1ca;
}
*/

